<a href="https://colab.research.google.com/github/kvishalsai/python-module-3/blob/master/Module_3_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Question 1

In [1]:
 for fizzbuzz in range(101):
  if fizzbuzz % 3 ==0 and fizzbuzz % 5 ==0:
    print("fizzbuzz")
    continue
  elif fizzbuzz % 3 ==0:
    print('fizz')
    continue
  elif fizzbuzz % 5 ==0:
    print("buzz")
    continue
  print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [ ]:
Question 2

In [2]:
 x=[1,2,4,7,3,7,8,4,4,9]
print([v for i, v in enumerate(x) if i == 0 or v != x[i-1]])

[1, 2, 4, 7, 3, 7, 8, 4, 9]

In [ ]:
Question 3

In [3]:
 def unique(list1):
  unique_list = []
  for x in list1:
    if x not in unique_list:
      unique_list.append(x)
  for x in unique_list:
    print(x)
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from list1 is")
unique(list1)
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from list2 is")
unique(list2)

the unique values from list1 is
10
20
30
40

the unique values from list2 is
1
2
3
4
5

In [ ]:
Question 4

In [4]:
 def test_range(n):
  if n in range(3,11):
    print( " %s is in the range"%str(n))
  else:
    print("the number is outside the given range.")
test_range(5)

 5 is in the range

In [ ]:
Question 5

In [5]:
 def string_test(st):
  d={"UPPER_CASE":0, "LOWER_CASE":0}
  for c in st:
    if c.isupper():
      d["UPPER_CASE"]+=1
    elif c.islower():
      d["LOWER_CASE"]+=1
    else:
      pass
  print("Original String : ",st)
  print("No.of Upper case characters :", d["UPPER_CASE"])
  print("No.of Lower case characters :", d["LOWER_CASE"])
string_test('Hello Mr.Rogers,how are you this fine Tuesday?')

Original String :  Hello Mr.Rogers,how are you this fine Tuesday?
No.of Upper case characters : 4
No.of Lower case characters : 33