<a href="https://colab.research.google.com/github/kvishalsai/python-module-3/blob/master/Module_3_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Assignment 1

In [ ]:
Question 1

In [ ]:
 n=list(input("Input a binary number"))
value=0
for i in range(len(n)):
    digit=n.pop()
    if digit == '1':
        value=value+pow(2,i)
print("The decimal value of the number is", value)

Input a binary number10010101
The decimal value of the number is 149

In [ ]:
Question 2

In [ ]:
 def Fibonacci(n):      
    f1=0
    f2=1
    if (n<1): 
        return
    for x in range(0,n): 
        print(f2) 
        next=f1+f2 
        f1=f2 
        f2=next
Fibonacci(n=int(input("Enter the number of fibonacci numbers to be print")))

Enter the number of fibonacci numbers to be print5
1
1
2
3
5

In [ ]:
Question 3

In [ ]:
 n=int(input("Multiplication table of"))
for i in range(1, 11):
   print(n, 'x',i, '=',n*i)

Multiplication table of7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
Question 4

In [ ]:
 n=int(input('How many numbers'))
s=0
for m in range(n):
    a=int(input('Enter number'))
    s+=a
avg=s/n
print('Average is ', avg)

How many numbers5
Enter number2
Enter number6
Enter number4
Enter number9
Enter number7
Average is  5.6

In [ ]:
Question 5

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*",end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *